.footerout{
	margin-top: 10vh;
	width: 100vw;
	height: 30vh;
	background-color: black;
	bottom: 0px;
}
.footerin{
	display: inline;
	width: 29vw;
	height: 20vh;
	border-style: solid;
	border-right: 5px;
	border-color: white;
	float: left;
	color: white;
	padding: 2vw;
}
